/*CSS Comment Style*/

/*over rides .html stock styling for margin
and padding*/
*{
    margin: 0;
    padding: 0;
}

/*apply styles to <header>*/
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

/*apply styles to <header> <h1> element*/
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

/*head elements*/
header a {
    text-decoration: none;
    color: #fce138;
}

/* moved all <header> <nav> items to the right
and set margins*/
header nav {
    float:right;
    margin: 7px 0;
}

/* moved all <header> <nav> <ul> <li> elements
in line*/
header nav ul li {
    display: inline
}

/*moved all <header> <nav> <ul> <li> <a> elements
in line*/
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}


/*apply styles to <body> and children*/
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}



