* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
}


/* HEADER / NAV BAR STYLES START */
/*added display:flex; and justify-content:space-between; This alllows the header to adjust for different screen sizes, flex-wrap to allows test wrapping on smaller screens*/
header {
  padding: 20px 35px;
  background-color: #39a6b2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: #fce138;
}

header a {
  text-decoration: none;
  color: #fce138;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.5vw;
}

/* HEADER / NAVBAR STYLES END */



/* FOOTER STYLES START */
footer {
  background: #fce138;
  padding: 40px 35px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h2 {
  color: #024e76;
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: #024e76;
}
/* END FOOTER STYLES */

/* STYLE ALL SECTION TAGS */
section {
  padding: 60px;
}

/* HERO STYLES START */
.hero {
  background-image: url('../images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-cta {
width: 35%;
text-align: right;
margin: 3.5%;
color: #fff;
font-size: 18px;
line-height: 1.3;
}

.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: #fce138;
}

.hero-form {
  border: 3px solid #024e76;
  background-color: #fce138;
  padding: 20px;
  color: #024e76;
  width: 40%;
  margin: 3.5%;
}

.hero-form h3 {
  font-size: 24px;
  margin: 0;
}
.hero-form p {
  margin: 5px 0 15px 0;
}

.form-input {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px; 
}

.hero-form label {
  margin: 0 5px;
}

.hero-form button {
  color: #fce138;
  background-color: #024e76;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
} 
/* HERO STYLES END */


/* SECTION TITLE STYLES START */
.section-title {
  font-size: 55px;
  border-bottom: 3px solid;
  color: #024e76;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.primary-border {
  border-color: #fce138;
}

.secondary-border {
  border-color: #39a6b2;
}
/* SECTION TITLE STYLES END */

/* WHAT WE DO STYLES */


.intro p {
  line-height: 1.7;
  color: #39a6b2;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}
/* WHAT YOU DO STYLES END */


/* WHAT YOU DO STYLES START */

.step {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  border-bottom: 1px solid #39a6b2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.steps { 
  background: #fce138;
} 

.step h3 {
  color: #024e76;
  font-size: 46px;
  flex: 1 30%;
}

.step-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.step-img {
  flex: 1 12%;
  margin-right: 20px;
}

.step-text {
  flex: 12;
}

.step-img img {
  max-width: 100%;
}

.step-text p {
  color: #39a6b2;
  font-size: 18px;
}

.step-text h4 {
font-size: 26px;
line-height: 1.5;
color: #024e76;
}
/* WHAT YOU DO STYLES END */

/* MEET THE TRAINERS START */
.trainers {
}

.trainer {
  width: 900px;
  margin: 0 auto 30px auto;
  background: #024e76;
  color: #fce138;
  overflow: auto;
}

.trainer img {
  width: 35%;
  float: left;
}

.trainer-bio {
  padding: 35px;
  float: left;
  width: 65%;
}

.trainer-bio h3 {
  font-size: 32px;
  margin-bottom: 8px;
}

.trainer-bio h4 {
  font-weight: lighter;
  font-size: 26px;
  margin-bottom: 25px;
}

.trainer-bio p {
  font-size: 17px;
  line-height: 1.3;
}
/* TRAINER STYLES END */

/* REACH OUT STYLES START */
.contact {
  background: #024e76;
}

.contact h2 {
  color: #fce138;
}

.contact-info iframe {
  width: 400px;
height: 400px;
}

.contact-info div {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 0 60px;
  color: white;
}

.contact-info h3 {
  color: #fce138;
  font-size: 32px;
}

.contact-info p, .contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 20px;
  font-style: normal;
}

.contact-info a {
  color: #fce138;
}


/* REACH OUT STYLES END */

/* UTILITIES */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
}